<div class="container"
     [ngClass]="{'mod-error': control?.invalid && (control?.dirty || control?.touched)}">
  <div class="label">{{label}}</div>
  <select [style]="{width: width}" [ngClass]="{'normal': font==='normal'}" [formGroup]="form"
          [formControl]="control" (ngModelChange)="onSelectedChange($event)">
    <ng-container *ngFor="let val of data">
      <option [ngValue]="val.value">{{val.label}}</option>
    </ng-container>
  </select>
  <span class="error-border"></span>
  <span class="error-message" *ngIf="control?.errors?.required">{{requiredFieldMessage}}</span>
</div>
