$primary: #ffd54f;
$primary-light: #ffff81;
$primary-dark: #c8a415;
$body: #fafafa;
$black: #000;
$gray: #6d6d6d;
$gray-light: #ddd;
$danger: #d0021b;
$success: #43a047;
$shadow: rgb(0 0 0 / 30%);

$smartphone: "only screen and (min-width: 320px) and (max-width: 812px)";
$tablet: "only screen and (min-width: 813px) and (max-width: 1024)";
$tablet-max: "only screen and (max-width: 1024px)";
$desktop-min: "only screen and (min-width: 1025px)";
