<div class="container">
  <i class="close-btn pi pi-times" (click)="onCloseClick()"></i>
  <section *ngIf="nearestStations" class="nearest-stations-section">
    <div class="title">Distributori più vicini</div>
    <div class="table-container">
      <table>
        <thead>
        <tr class="header">
          <th>Bandiera</th>
          <th>Di</th>
          <th>Indirizzo</th>
          <th>Distanza</th>
        </tr>
        </thead>
        <tr *ngFor="let station of nearestStations" (click)="onRowClick(station)">
          <td>{{station.flag}}</td>
          <td>{{station.owner}}</td>
          <td>{{station.address}}</td>
          <td>~{{station.distance / 1000}}km</td>
        </tr>
      </table>
    </div>
  </section>
  <div class="divider" *ngIf="nearestStations"></div>
  <section class="filter-stations-section">
    <div class="title">Filtra distributori</div>
    <form class="filter-form" [formGroup]="filterForm" (submit)="onFormSubmit()">
      <g-select-input [form]="filterForm" label="Provincia"
                        controlName="province" [data]="provinceOptions"></g-select-input>
      <g-select-input [form]="filterForm" label="Comune"
                        controlName="municipality" [data]="municipalityOptions"></g-select-input>
      <g-select-input [form]="filterForm" label="Carburante"
                        controlName="fuel" [data]="fuelOptions"></g-select-input>
      <g-select-input width="7rem" [form]="filterForm" label="Raggio (in KM)"
                        controlName="distance" [data]="distanceOptions"></g-select-input>
      <div class="checkbox-container">
        <g-checkbox [form]="filterForm" label="Salva filtro"
                      controlName="remember"></g-checkbox>
      </div>
      <div class="button-container">
        <g-button width="11rem" label="Applica filtro" type="submit"></g-button>
      </div>
    </form>
  </section>
</div>
