@import "../../../theme/variables";

:host {
  height: max-content;
  max-height: 80vh;
  width: 50rem;
  overflow-y: auto;
  max-width: 95vw;
  border-radius: 10px;
}

.container {
  height: 100%;
  width: 100%;
  background-color: $body;
  padding: .5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .close-btn {
    align-self: flex-end;
    font-size: 1.5rem;
    padding-right: .5rem;
  }

  section {
    min-height: 18rem;
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      padding: .5rem 0;
      font-weight: 500;
      font-size: 1.5rem;
      letter-spacing: 1.5px;
    }

    .table-container {
      overflow: auto;
      height: 15rem;
      width: 99%;

      table {
        position: relative;

        thead {
          position: sticky;
          top: 0;
        }

        tr:not(:nth-child(1)) {
          cursor: pointer;
        }
      }
    }

    .filter-form {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;

      > * {
        padding: 1rem;
      }

      .button-container, .checkbox-container {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }

  .divider {
    width: 90%;
    border: 1px solid $secondary-transparent;
    border-radius: 10px;
    margin: .5rem 0;
  }
}
