<div class="container">
  <i class="pi pi-times close-button" (click)="onClose()"></i>
  <div class="data-container" *ngIf="(stationDetails$ | async) else spinner" [formGroup]="form">
    <div class="station-info-container">
      <g-input-field label="Di" [form]="form"
                     controlName="owner">
      </g-input-field>
      <g-input-field label="Bandiera" [form]="form" controlName="flag">
      </g-input-field>
      <g-input-field label="Tipo" [form]="form" controlName="type">
      </g-input-field>
      <g-input-field label="Nome" [form]="form"
                     controlName="name">
      </g-input-field>
      <g-input-field label="Indirizzo" [form]="form"
                     controlName="address">
      </g-input-field>
      <g-input-field label="Comune" [form]="form" controlName="municipality">
      </g-input-field>
      <g-input-field label="Provincia" [form]="form" controlName="province">
      </g-input-field>
    </div>
    <div class="divider"></div>
    <div class="station-price-container">
      <app-price-table [prices]="prices"></app-price-table>
      <div class="directions-container" (click)="onDirectionsClick()">
        <img src="assets/ui/map/directions.svg" alt="">
        <p>Direzioni</p>
      </div>
    </div>
  </div>
  <ng-template #spinner>
    <g-spinner></g-spinner>
  </ng-template>
</div>
