<!--<g-modal [visible]="visible" (visibleChange)="visibleChange.emit($event)"-->
<!--         [zIndex]="1000" [draggable]="true" borderRadius="10px"-->
<!--         width="30rem">-->
<!--  <div class="container">-->
<!--    <div class="icon-container" [style]="{'width': size, 'height': size}">-->
<!--      <div></div>-->
<!--      <div></div>-->
<!--    </div>-->
<!--    <div style="text-align: center">-->
<!--      <p>Errore del server. Se l'errore persiste-->
<!--        <a href="mailto:diegocipa1@gmail.com">contatta</a> l'amministratore-->
<!--        indicando l'errore </p>-->
<!--    </div>-->
<!--  </div>-->
<!--</g-modal>-->
