@import "../../../theme/variables";

.page-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  overflow-y: auto;
  //background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255) 80%,
  //  rgba(0, 0, 0, 0.1) 300%);

  .stats-container {
    display: flex;
    height: 100%;
    width: 90%;
    padding: 1rem 0;
  }
}

@media #{$smartphone} {
  .page-container {
    .stats-container {
      width: 95%;
    }
  }
}
