@import "src/app/theme/variables";

.container {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 3rem;

  .logo-container {
    cursor: pointer;
    margin-right: 3rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    height: 4rem;

    .name {
      color: $secondary;
      font-size: 1.8rem;
      font-weight: 500;
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 1rem;
      background-color: $primary;
    }

    .logo {
      background-image: url("~src/assets/ui/logo-primary.png");
      background-size: 120%;
      background-position: center;
      height: 100%;
      width: 5rem;
    }
  }

  .route {
    background: radial-gradient(circle at 50% 50%, #fafafa60, transparent 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 .5rem;
    cursor: pointer;

    img {
      height: 3rem;
    }

    .route-description {
      font-size: 1.3rem;
      font-weight: 500;
      color: $body;
      letter-spacing: 1px;
      transition: all 500ms;
    }

    &.active {
      .route-description {
        transition: all 500ms;
        color: $primary;
      }
    }

    &:focus {
      outline: none;
    }
  }
}

@media #{$smartphone} {
  .container {
    padding: .5rem 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;

    .logo-container {
      padding: 0;
      display: flex;
      justify-content: center;
      margin-right: 0;
      height: 3rem;
      flex-basis: 100%;

      .name {
        border-radius: 10px 0 0 10px;
      }

      .logo {
        background-size: 110%;
        width: 4.4rem;
        border-radius: 0 10px 10px 0;
      }
    }

    .route {
      padding: .5rem;
    }
  }
}
