@import "src/app/theme/variables";

.container {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 3rem;

  .logo-container {
    cursor: pointer;
    padding-right: 3rem;
    display: flex;
    align-items: center;

    .name {
      color: $primary-dark;
      font-size: 1.8rem;
      font-weight: 500;
    }

    img {
      border-radius: 50%;
      height: 4rem;
      width: 4rem;
      margin-right: 1rem;
    }
  }

  .route {
    background: radial-gradient(circle at 50% 50%, #fafafa60, transparent 60%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 .5rem;
    cursor: pointer;

    img {
      height: 3rem;
    }

    .route-description {
      font-size: 1.3rem;
      font-weight: 500;
      color: $body;
      letter-spacing: 1px;
      transition: all 500ms;
    }

    &.active {
      .route-description {
        transition: all 500ms;
        color: $primary;
      }
    }

    &:focus {
      outline: none;
    }
  }
}

@media #{$smartphone} {
  .container {
    overflow-x: auto;
  }
}
