<div class="container">
  <div class="logo-container" routerLink="/" (click)="onRouteChange()">
    <img src="../../../../assets/ui/logo.png" alt="">
    <span class="name">Gas Advisor</span>
  </div>
  <div (click)="onRouteChange()" class="route" routerLink="{{routes.home.url}}" routerLinkActive="active"
       #home="routerLinkActive">
    <img src="{{home.isActive ? routes.home.imgActive : routes.home.img}}" alt="">
    <div class="route-description">Distributori</div>
  </div>
  <div (click)="onRouteChange()" class="route" routerLink="{{routes.statistics.url}}" routerLinkActive="active"
       #statistics="routerLinkActive">
    <img src="{{statistics.isActive ? routes.statistics.imgActive : routes.statistics.img}}" alt="">
    <div class="route-description">Statistiche</div>
  </div>
  <div (click)="onRouteChange()" class="route" routerLink="{{routes.heatmap.url}}" routerLinkActive="active"
       #heatmap="routerLinkActive">
    <img src="{{heatmap.isActive ? routes.heatmap.imgActive : routes.heatmap.img}}" alt="">
    <div class="route-description">Heatmap</div>
  </div>
</div>
