@import "../../../theme/variables";

.input-control {
  position: relative;
  margin: .5rem 0;
  display: block;

  .error-label {
    display: block;
    font-size: .9rem;
    color: $danger;
    margin-top: 5px;
  }

  span {
    display: block;
    text-transform: uppercase;
    color: $black;
  }

  .disabled-view {
    display: none;
    line-break: loose;
  }

  input, .disabled-view {
    font-family: Lato;
    font-weight: 500;
    background: transparent;
    border: none;
    font-size: 1.4em;
    border-bottom: 1px solid $black;
    padding: 5px 25px 5px 0;
    color: $gray-input;

    &:disabled {
      display: none;
    }

    &:focus-visible {
      outline: none;
    }
  }

  input:disabled ~ .disabled-view {
    display: block;
    border-bottom: none;
  }

  .error-border {
    width: 0;
    height: 3px;
    background-color: $danger;
    transition: width 0.5s;
  }

  &.mod-error {
    input {
      border-bottom: 1px solid $danger;
    }

    div {
      width: 100%;
    }
  }
}

